<aside class="learn">
  <header>
    <h3>intercooler.js</h3>
    <span class="source-links">
      <h5>Example</h5>
      <a href="">Source</a>
    </span>
  </header>

  <hr>
  <blockquote class="quote speech-bubble">
    <p>
      intercooler.js lets you use familiar, declarative HTML attributes to implement advanced, dynamic interfaces
      in web applications with a minimum of complexity. intercooler.js lets you extend the HTML vocabulary for your
      application without requiring much, if any, explicit javascript. The resulting environment is extraordinarily
      simple, expressive, readable, and maintainable.
    </p>

    <footer><a href="http://intercoolerjs.org">intercooler.js</a></footer>
  </blockquote>
  <hr>
  <h4>Official Resources</h4>
  <ul>
    <li><a href="http://intercoolerjs.org/docs.html">Docs</a></li>
    <li><a href="http://intercoolerjs.org/reference.html">API Reference</a></li>
    <li><a href="http://intercoolerjs.org/examples/index.html">Examples</a></li>
    <li><a href="http://intercoolerjs.org/blog.html">Blog</a></li>
  </ul>
  <h4>Articles and Guides</h4>
  <ul>
    <li>
      <a href="http://intercoolerjs.org/2016/01/01/n-reasons-to-try-intercooler-this-year.html">
        N Reasons to try Intercooler This Year
      </a>
    </li>
    <li>
      <a href="http://intercoolerjs.org/2016/01/18/rescuing-rest.html">
        Rescuing REST from the API Winter
      </a>
    </li>
    <li>
      <a href="http://intercoolerjs.org/2016/05/08/hatoeas-is-for-humans.html">
        HATEOAS Is For Humans
      </a>
    </li>
    <li>
      <a href="http://intercoolerjs.org/2016/05/19/back-to-the-future.html">
        Back To The Future
      </a>
    </li>
  </ul>
  <h4>Community</h4>
  <ul>
    <li>
      <a href="https://groups.google.com/forum/#!forum/intercooler-js">Newsgroup</a>
    </li>
  </ul>
  <footer>
    <hr>
    <em>If you have other helpful links to share, or find any of the links above no longer work, please <a
      href="https://github.com/tastejs/todomvc/issues">let us know</a>.</em>
  </footer>
</aside>
